@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Source+Sans+Pro:wght@300;400&display=swap');
 
  body{
    
    justify-content: center;
    align-items: center;
  }

textarea{
    width: 50%;
    height: 8vh;
    display: block;
    margin: 1 rem;
    padding: 1 rem;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    margin: auto;
   
   

}
.container-first{

    text-align: center;
    background-color: #FFB319;
    padding:1rem;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 2rem;
    font-size: xx-large;
}


#btn-Translate{

        background-color:#FFB200; 
        border: none;
        color:white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;

      
}







    




#output{
    border: 2px solid black;
    height: 10vh;
    width: 50%;
    margin: 1 rem;
    padding: 1 rem;
    margin: auto;
}





.container {
   margin-left: 45rem;
   margin-top: 3rem;
}

#new{
    margin-left:43rem ;
    margin-top: 2rem;
    font-size: larger;
    font-family: 'Shadows Into Light', cursive;
   
}

.container-last{
    text-align: center;
    background-color: #FFB319;
    padding:3rem;
    font-family: 'Shadows Into Light', cursive;
    margin-bottom: 2rem;
    margin-top: 10rem;
    font-size: larger;

}
#btn-translate{
    background-color: yellow;
    padding-top: 2rem;

}
.container{
    justify-content: center;
    align-items: center;
}